/* variables */
:root{
    --color-primary: #F8F8F8;
    --color-secondary: #0A0A0A;
    --color-text: #4A4A4A;
    --color-text-2: #C0C0C0;
    --banner-overlay-top: rgba(0, 0, 0, 0.9);
    --banner-overlay-bottom: rgba(0, 0, 0, 0.6);
    
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 3rem rgba(0,0,0,.06);
    --line: 2px solid var(--color-text-2);
}

:root .light-theme{
    --color-primary: #0A0A0A;
    --color-secondary: #F8F8F8;
    --color-text: #C0C0C0;
    --color-text-2: #4A4A4A;
    --banner-overlay-top: rgba(255, 255, 255, 0.9);
    --banner-overlay-bottom: rgba(255, 255, 255, 0.6);
}

/* default reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;/* 10/16 * 100 */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--color-text);
    background-color: var(--color-text-2);
}

/* utils */
.container{
    max-width: 120rem;
    margin: 4rem auto;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* header nav */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--line);
    padding:1rem 6rem;
}

.nav .logo{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 4rem;
    border-radius: 50%;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    text-align: center;
    line-height: 1.2;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    cursor: pointer;
}

.nav .logo .logo-text{
    position: relative;
    z-index: 1;
}

.nav .logo::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--color-text-2);
    transition: transform .2s ease-in-out;
    z-index: 0;
}

.nav .logo:hover::after {
    transform: translateY(0); /* Move the red color up */
}

.nav .toggle-switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;
}

.nav .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.nav .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    transition: 0.4s;
    border-radius: 34px;
}

.nav .slider:before {
    position: absolute;
    content: "";
    height: 2.6rem;
    width: 2.6rem;
    right: .4rem;
    bottom: .4rem;
    background-color: var(--color-text);
    transition: 0.4s;
    border-radius: 50%;
}

.nav .toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.nav .toggle-switch input:checked + .slider:before {
    transform: translateX(-2.6rem);
    background-color: var(--color-text);
}

.banner{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--banner-overlay-top), var(--banner-overlay-bottom)),
    url(../img/20191226_143010.jpg) center center/contain fixed;
}

.intro-label{
    font-size: 6rem;
    font-weight: 700;
}
.intro-label > span:first-child{
    display: block;
}
.intro-value{
    margin-left: 8rem;
    display: inline-block;
    min-width: 64rem;
}
.intro-label .typing-text{
    border-right: 0.15em solid var(--color-primary);
    white-space: nowrap;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}
/* typing animation */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--color-primary); }
}

.main{
    background-color: pink;
    height: 100vh;
}